/* ----------------------------IMPORTS----------------------------- */


$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3/images';
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/* ----------------------------ELEMENTS---------------------------- */
body {
  background-color: #333;
  color: #aaa;

}



/* ----------------------------OBJECTS----------------------------- */
.container {
  background-color: #444;
  @include border-radius(4px, 4px);
}

.table-container {
  background-color: #aaa;
  color: #444;
  @include border-radius(4px, 4px);
  @include box-shadow(#333 0px 0px 5px 0px inset);
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
}

.add-task {
  @extend .pull-right;
  right: 5px;
  margin: 2px;
}

.time-field {
  @extend .form-control;
  width: 50px;

}

.add-button {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
}

.add-button:focus, .add-button:active {
  outline: none;
}

.task-row {

}
  .task-row--active td {
    @extend .highlight-bg;
    color: #aaa;
    text-decoration: none !important;
  }

  .task-row--past td {
    //color: #ccccdd !important;
    text-decoration: line-through;
  }

.jumbotron.task-main {
  @extend .highlight-bg;
  @include box-shadow();
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* ----------------------------MODIFIERS--------------------------- */
.highlight-bg {
  @include background-image(linear-gradient(#9e2812, #6f0d0d));
}

input.ng-dirty.ng-invalid {
  outline: 1px solid red;
}

